//
//  cbl-log.xcconfig
//  Tools
//
//  Created by Jens Alfke on 4/23/19.
//  Copyright © 2019 Couchbase. All rights reserved.
//

SDKROOT                     = macosx
SUPPORTED_PLATFORMS         = macosx

HEADER_SEARCH_PATHS         = $(inherited)   $(FLEECE)/API   $(inherited) $(FLEECE)/Fleece/Support  $(FLEECE)/vendor/date/include   $(LITECORE)/C/include   $(LITECORE)/LiteCore/Support
