//
//  cblite.xcconfig
//  cblite
//
//  Created by Jens Alfke on 2/12/19.
//  Copyright © 2019 Couchbase. All rights reserved.
//

SDKROOT                     = macosx
SUPPORTED_PLATFORMS         = macosx

PRODUCT_NAME                = cblite

HEADER_SEARCH_PATHS         = $(inherited)  $(FLEECE)/API  $(FLEECE)/Fleece/Support  $(LITECORE)/C/include   $(LITECORE)/C/Cpp_include   $(LITECORE)/C   $(LITECORE)/Networking   $(LITECORE)/LiteCore/Support

OTHER_LDFLAGS               = -lmbedtls -lmbedcrypto -lmbedx509
