//
//  linenoise.xcconfig
//  cblite
//
//  Created by Jens Alfke on 2/12/19.
//  Copyright © 2019 Couchbase. All rights reserved.
//

CLANG_WARN_DOCUMENTATION_COMMENTS = NO
GCC_WARN_64_TO_32_BIT_CONVERSION = NO
GCC_WARN_ABOUT_MISSING_PROTOTYPES = NO
CLANG_WARN_SUSPICIOUS_IMPLICIT_CONVERSION = NO
GCC_WARN_UNINITIALIZED_AUTOS = NO
CLANG_WARN_UNREACHABLE_CODE = NO
